{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Proposals</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newAdvert')}}">
				<button class="btn btn-default" id="new-advert">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Proposal
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	<p><h3>You are logged in as {{user_name_session}}. ID: {{user_id_session}}</h3></p>
	<br>
	{% for advert in adverts %}
	<div class="row">
		<div class="col-md-1"></div>
			<div class="col-md-10 restaurant-list">
				<p>Proposal {{advert.id}}: {{advert.name}}</p>
				<p>Meal Type: {{advert.meal_type}}</p>
				<p>Meal Time: {{advert.meal_time}}</p>
				<p>Address: {{advert.address}}</p>
				<p>Creator: {{advert.creator}}, ID: {{user_id_session}}</p>
				<p>Attendee: {{advert.attendee}}</p>
				<p>Accepted by Creator: {{advert.accept_attendee}}</p>
				{% if advert.user_id == user_id_session %}
					<p>You are authorized to: </p>
					<p><a href="{{url_for('editAdvert', advert_id = advert.id)}}" > Manage Proposal </a>
					<a href="{{url_for('deleteAdvert', advert_id = advert.id)}}" > Delete Proposal </a>
					<a href="{{url_for('acceptAdvert', advert_id = advert.id)}}" > Accept Proposal </a></p>
				{% endif%}
				{% if advert.user_id == user_id_session %}
					<p>You are authorized to: </p>
					<p><a href="{{url_for('joinAdvert', advert_id = advert.id)}}" > Join Proposal </a></p>
				{% endif%}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endfor %}
{% endblock %}
