{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Proposals</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newAdvert')}}">
				<button class="btn btn-default" id="new-advert">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Proposal
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for advert in adverts %}
		<p>{{advert.name}}</p>
		<p>{{advert.meal_type}}</p>
		<p>{{advert.address}}</p>
		<p>{{advert.meal_time}}</p>
		<p>{{advert.creator.name}}</p>

		<a href="{{url_for('editAdvert', advert_id = advert.id)}}" > <h3> Manage Proposal </h3> </a>
		<a href="{{url_for('deleteAdvert', advert_id = advert.id)}}" > <h3> Delete Proposal </h3> </a>
	{% endfor %}
{% endblock %}
