{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('showLogin')}}">Click Here to Log in </a>
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Adverts</h1>
		</div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>



	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">

		</div>
		<div class="col-md-1"></div>
	</div>
	<p><h3>You are not logged in.</h3></h3></p>
	<br>
	{% for advert in adverts %}
	<div class="row">
		<div class="col-md-1"></div>
			<div class="col-md-10 restaurant-list">
				<p>Proposal {{advert.id}}: {{advert.name}}</p>
				<p>Meal Type: {{advert.meal_type}}</p>
				<p>Meal Time: {{advert.meal_time}}</p>
				<p>Address: {{advert.address}}</p>
				<p>Creator: {{advert.creator}}, ID: {{user_id_session}}</p>
				<p>Attendee: {{advert.attendee}}</p>
				<a href="{{url_for('joinAdvert', advert_id = advert.id)}}" > Join Proposal </a></p>
				<a href="{{url_for('acceptAdvert', advert_id = advert.id)}}" > Join Proposal </a></p>
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endfor %}
{% endblock %}
